Source: hello-world
Maintainer: Fra Goi <fragoidev@gmail.com>
Section: misc
Priority: optional
Standards-Version: 4.5.0
Build-Depends: debhelper (>= 12), meson (>= 0.53)

Package: hello-world
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Hello World
 Gently say Hello World
